
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PERFIL</h1>
    <p>Nombre: {{info.userFirstname}}</p>
    <p>Apellido: {{info.userLastname}}</p>
    <p>Email: {{info.userEmail}}</p>
    <p>Edad: {{info.userAge}}</p>
    <p>Rol de Usuario: {{info.userRole}}</p>
    <button onclick="location.href='/users/login'">Regresar</button>
</body>
{{!-- <script src="../public/js/profile.js"></script> --}}
</html>

